
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background: #ffcb05;
    color: #3d7dca;
    padding: 30px 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: 5px solid #3d7dca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3d7dca;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.2em;
}