* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background: #ffcb05;
    color: #3d7dca;
    padding: 30px 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: 5px solid #3d7dca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3d7dca;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.2em;
}
.pokemon-card {
  width: 100%;               
  max-width: 100%;    
  height: 100%;      
  padding: 2rem;             
  background: linear-gradient(to bottom, #9b59b6, #e91e63); 
  border: 3px solid #1f1f1f;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  color: #ffffff;            
  font-family: 'Rubik', sans-serif;
  text-align: left;          
  line-height: 1.5;          
  box-sizing: border-box;    
}

.pokemon-card h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ffffff;              
  text-shadow: 1px 1px 2px #000000;
}

.pokemon-card p {
  margin: 0.3rem 0;
  color: #ffffff;              
  text-shadow: 1px 1px 2px #000000;
}




